<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.chy.mapper.UserMapper">

    <!--select查询语句-->
    <!--List<User> getUserList();-->
    <select id="getUserList" resultType="com.chy.pojo.User">
        select * from mybatis.user;
    </select>

    <!--int insertInfo();-->
    <insert id="insertInfo">
        insert into user values(6, "詹姆斯", 234324324)
    </insert>

    <!--void updateUser();-->
    <update id="updateUser">
        update user set name = "哈哈" where id = 4
    </update>

    <!--void deleteUser();-->
    <delete id="deleteUser">
        delete from user where id = 5
    </delete>

    <!--User getUserById();-->
    <!--
        查询功能的标签必须设置resultType或resultMap
        resultType: 设置默认的映射关系
        resultMap: 设置自定义的映射关系
    -->
    <select id="getUserById" resultType="com.chy.pojo.User">
        select * from user where id = 3
    </select>

</mapper>